
#sim {
   background: transparent;
   position: relative;
   height: 98vh;
   width: 98vw;
   z-index: 10;
   overflow: hidden;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
 }
 #title{
   font-family: 'Pangolin', cursive;
   color: white;
   grid-area: 1 / 1 / 4 / 5;
   font-size: 2em;
}
h3 {
   font-family: 'Indie Flower', cursive;
   color: whitesmoke;
}

/* Code for rain animation */
 i {
   position: absolute;
   height: 120px;
   border-radius: 0 0 999px 999px;
   animation: animate 2s linear 2.5; 
   top: -120px;
 }
 
 @keyframes animate {
   0% {
     transform: translateY(-120px);
   }
   100% {
     transform: translateY(calc(100vh + 120px));
   }
 }

.clickables{
   grid-area: 1 / 5 / 4 / 9;
   padding: 2.5em;
 }

.seeds{
   grid-area: 5 / 1 / 6 / 3;
}

.ground{
   background-image: url("soil.png");
   background-size: 55%;
   background-position:center;
   height: 100%;
   margin: 0px;
   padding: 0px;
   z-index: -1;
   grid-area: 8 / 1 / 9 / 9;
  
}

 .indieFlower{
  width: 10%;
  max-inline-size: 100%;
  block-size: auto;
} 
#flowers, .seedSpaces{
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: baseline;
  z-index: -2;
  position: relative;
}


#flowers{
   grid-area: 7 / 1 / 8/ 9;
      opacity: 0;
      transition: opacity 3s ease-in-out; /* Gradual transition */
    }
    
    #flowers.visible {
      opacity: 1;
    }


#space-dropper1,#space-dropper2,#space-dropper3,#space-dropper4,#space-dropper5 {
   height: 75px;
   width: 75px;
   background-color: #e3b93da8;
   border-radius: 50%;
   display: inline-block
}

